body{
  background: pink;
}
.ship {
  display: none;
}
label{
  display: block;
}
.tile {
  lost-column: 1/5;
  height: 100px;
  margin-bottom: 30px;
}

#board0{
.tile{
color: red;
}
}
#board1{
  .tile{
  color: blue;
  }
}
